.cardWrapper {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 10px 30px;
  text-align: center;
}

.image {
  height: 300px;
  width: fit-content;
}

.title,
.price {
  font-weight: bold;
  margin: 8px 0;
}

.button {
  margin: 4px 0 !important;
  background-color: brown !important;
  color: white !important;
}

.button:disabled {
  background-color: grey !important;
  cursor: not-allowed;
}
